# **Pandas**

## Indexado

In [ ]:
import numpy as np
import pandas as pd
from tabulate import tabulate
import matplotlib.pyplot as plt

In [ ]:
dict_1 = {
    "Mes":['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio' ,'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    "Ventas":[30500, 35600, 28300, 33900, 22002, 32003, 54000, 35000, 11254, 65871, 27000, 39741],
    "Gastos":[22000, 23400, 18100, 20700, 19154, 21367, 27544, 19871, 24150, 23574, 30000, 24000]
}

In [ ]:
df_1 = pd.DataFrame(dict_1)
df_1

## **Accediendo a los datos de un DataFrame**

## \**Observación**: podríamos decir que el estándar base en Python para acceder a los datos por índices es [fila][columna]

In [ ]:
## Vamos a ver la forma de acceder datos en Python

a = [[9, 8, 7],[6,5,4],[3,2,1]]
arr_1 = np.array(a)
print(arr_1)

In [ ]:
print(type(arr_1))

In [ ]:
## Vamos a direccionar el 4
## Primero ponemos la coordenada de la fila y luego la coordenada de la columna

print(arr_1[1][2])

In [ ]:
## ¿Qué número se encuentra en esta posición?

print(a[2][0])

#### ¿Qué pasa si intentamos acceder a un elemento del DataFrame usando esta forma de indexado?

In [ ]:
## Elemento 0,0 del DataFrame

df_1[0][0]

#### Para direccionar un elemento dentro de un DataFrame ponemos primero el índice de la columna (nombre de la columna) y luego el índice de la fila (nombre de la fila)

In [ ]:
## Vamnos a leer el elemento con índice 9 de la columna mes

df_1['Mes'][9]

## Leer toda una columna

#### Para obtener los elementos de una columna usamos el nombre de la columna

In [ ]:
## Podemos usar el nommbre de la columna dentro de los corchetes

a = df_1['Ventas']
print(a)
print(type(a))

In [ ]:
## También podemos usar el nombre de la columna después del punto

v = df_1.Ventas
print(v)
print(type(v))

## Ejercicio

Realizar una gráfica que muestre las ventas y gastos en cada uno de los meses.

In [ ]:
## Paso 1: obtenemos los valores de las ventas. Estos valores serán ubicados en el eje Y de la gráfica.

ventas = df_1.Ventas.values
print(ventas)
print(type(ventas))

In [ ]:
## Paso 2: obtenemos los valores de los gastos. Estos valores serán ubicados en el eje Y de la gráfica.

gastos = df_1['Gastos'].values
print(gastos)
print(type(gastos))

In [ ]:
## Paso 3: obtenemos los valores de los meses. Estos valores serán obtenidos en el eje X de la gráfica.

meses = df_1['Mes'].values
print(meses)
print(type(meses))

In [ ]:
## Paso 4: seleccionamos el tipo de gráfica y la construimos utilizando Matplotlib

plt.plot(meses,ventas, marker='o', label='Ventas')
plt.plot(meses,gastos, marker='o', label='Gastos')
plt.xticks(rotation=45)
plt.legend(loc="upper left")
plt.show()

In [ ]:
## Vamos a intentar hacer la misma gráfica, pero usando directamente las columnas del DataFrame

plt.plot(df_1['Mes'],df_1['Ventas'], marker='o', label='Ventas')
plt.plot(df_1['Mes'],df_1['Gastos'], marker='o', label='Gastos')
plt.xticks(rotation=45)
plt.legend(loc="upper left")
plt.show()

## Ejercicio

Graficar el balance mensual (ventas-gasto)

In [ ]:
## Paso 1: Calcular los valores del balance mensual

ventas = df_1.Ventas.values
gastos = df_1['Gastos'].values
balance = ventas - gastos

print(balance)

In [ ]:
## Paso 2: seleccionamos el tipo de gráfica y la construimos utilizando Matplotlib

plt.plot(meses,balance, marker='o', label='Balance')
plt.xticks(rotation=45)
plt.legend(loc="upper left")
plt.show()

#### También podemos crear otra columna en el DataFrame para guardar la información del balance mensual

In [ ]:
## Hacemos una copia profunda del DataFrame para no afectar al original

df_2 = df_1.copy()

In [ ]:
df_2['Balance'] = balance
df_2

In [ ]:
total_ventas = df_2.Ventas.sum()
print(f"El total de ventas en el año fue {total_ventas}")

In [ ]:
total_gastos = df_2['Gastos'].sum()
print(f"El total de gastos en el año fue {total_gastos}")

## Acceso a los datos usando loc y iloc

Otra forma de acceder a los datos es a través de los métodos indexación que Pandas nos provee, entre estos encontramos dos:
+ **iloc**, obtenemos los datos a partir de su posición numérica.
+ **loc**, obtenemos los datos con los identificadores.

Ambos métodos utilizan una convención de [fila, columna].

#### **iloc**

In [ ]:
df_1

In [ ]:
## Podemos leer toda una fila

b = df_1.iloc[10]
print(b)
print(type(b))

In [ ]:
## Podemos obtener un elemento individual

c = df_1.iloc[10,2]
print(c)
print(type(c))

In [ ]:
## Podemos leer varias columnas

c = df_1.iloc[0:6,:]
print(c)
print(type(c))

In [ ]:
## Podemos leer varias filas de una sola columna

c = df_1.iloc[0:6,2]
print(c)
print(type(c))

In [ ]:
## Podemos leer una porción del DataFrame

d = df_1.iloc[0:3,0:2]
print(d)
print(type(d))

In [ ]:
e = df_1.iloc[1,1]
print(e)
print(type(e))

#### Vamos a cambiar el índice en el DataFrame df_2

In [ ]:
## Con el método set_index podemos cambiar los valores de los índices del DataFrame.
## Podemos elegir una columna cuyos valores sean únicos y representatidos dentro del conjunto de datos

df_2.set_index(keys=['Mes'], drop=True, inplace=True)

df_2

In [ ]:
df_2.iloc[1]

#### **loc**

In [ ]:
df_1.index

In [ ]:
## Para direccionar los elementos usamos los nombres de los índices

f = df_1.loc[6,'Ventas']
print(f)
print(type(f))

In [ ]:
g = df_1.loc[:,['Mes','Ventas']]
print(g)
print(type(g))

Podemos crear filtros y usarlos con loc

In [ ]:
df_1.Mes == 'Febrero'

In [ ]:
h = df_1.loc[df_1.Mes == 'Febrero']
print(h)
print(type(h))

#### Aunque los filtros también podemos usarlos directamente sin necesidad de usar loc

In [ ]:
j = df_1[df_1['Mes'] == 'Febrero']
print(j)
print(type(j))

In [ ]:
## Los filttros nos permiten seleccionar las filas que cumplen cierta condición

jj = df_1[df_1.Ventas >= 50000]
print(jj)
print(type(jj))

In [ ]:
## Podemos usar varias condiciones dentro del filtro
k = df_1[(df_1.Ventas >= 30000) & (df_1.Ventas <= 50000)]
print(k)
print(type(k))

## Ejercicio

Utilizando el DataFrame df_2 encuentre los meses dónde el balance fue negativo y utilice tabulate para mostar la información en forma tabular.

Recuerden el uso de tabulate:

print(tabulate(DataFrame, headers = 'keys', tablefmt = 'fancy_grid'))

In [ ]:
## Solución

## Ejercicio 2

Escriba un programa que pida a un usuario el nombre del mes y muestre las ventas, gastos y balance para ese mes.

## Ejercicios 3

Escriba un programa que solicite un valor para el balance y muestre la información para todos los meses cuyo balance es mayor o igual a ese valor.

## Ejercicio 4

Grafique Ventas y Balance vs Mes, pero usando gráficos de barras.

## Ejercicio 5

Muestre toda la información de los meses impares.

In [ ]:
## Solución

meses_impares = [x for x in range(12) if x%2==1]
print(meses_impares)

In [ ]:
info_meses_impares = df_1.loc[meses_impares,:]
print(info_meses_impares)